doctype
html(lang="en")
    head
        meta(charset='utf-8')
        title TEST
        script(src='./bundle.js')
    body
        header
            h1 hello there #[span i am happy] to meet you
            